<?xml version="1.0" encoding="UTF-8"?>
<config>
	<guest>1</guest>
	<cache>0</cache>
	<cached_action>
		<cached>Index</cached>
	</cached_action>
	<lifetime>10800</lifetime>
	<admin_panel>1</admin_panel>
	<db_table>
		<table>news</table>
		<table>news_translations</table>
	</db_table>
	<plugins_settings>
		<frontend>
			<compatible>
				<plugin>comment</plugin>
				<plugin>polling</plugin>
				<plugin>attachments</plugin>
				<plugin>disquis</plugin>
			</compatible>
			<before>
				<readNews>
					<description>Czytamy news-a</description>
					<plugins>
						<polling>
							<settings>
								<segment_ref>0</segment_ref>
								<component>news</component>
								<vote>single</vote>
							</settings>
							<actions>
								<action>create_poll</action>
								<action>vote</action>
								<action>deletePoll</action>
								<action>deletePollAnswer</action>
							</actions>
						</polling>
					</plugins>	
				</readNews>
				<delete>
					<description>Usuwamy news-a</description>
					<plugins>
						<attachments>
							<settings>
								<segment_ref>3</segment_ref>
								<component>news</component>
								<attachmentsDir>upload/attachments/news/</attachmentsDir>
							</settings>
							<actions>
								<action>deleteAttachments</action>
								<action>empty</action>
							</actions>
						</attachments>
					</plugins>	
				</delete>
			</before>
			<after>
				<readNews>
					<description>Czytamy news-a</description>
					<plugins>
						<comment>
							<settings>
								<segment_ref>0</segment_ref>
								<component>news</component>
								<notify>
									<on>0</on>
									<join_t>news</join_t>
									<join_on>news.autor</join_on>
								</notify>
							</settings>
							<actions>
								<action>submit</action>
								<action>delete</action>
							</actions>
						</comment>
						<attachments>
							<settings>
								<segment_ref>0</segment_ref>
								<component>news</component>
								<attachmentsDir>upload/attachments/news/</attachmentsDir>
							</settings>
							<actions>
								<action>attachmentsShow</action>
								<action>empty</action>
							</actions>
						</attachments>
						<disquis>
							<settings>
								<component>news</component>
								<segment_for_id>0</segment_for_id>
								<short_name>marcioblog</short_name>
								<absolute_url>http://eoskar.pl/Vf/index.php/</absolute_url>
							</settings>
							<actions>
								<action>loadDisquis</action>
								<action>empty</action>
							</actions>
						</disquis>
					</plugins>
				</readNews>
				<delete>
					<description>Usuwamy news-a</description>
					<plugins>
						<comment>
							<settings>
								<segment_ref>3</segment_ref>
								<component>news</component>
							</settings>
							<actions>
								<action>deleteAllRecordComments</action>
								<action>empty</action>
							</actions>
						</comment>
					</plugins>	
				</delete>
			</after>
		</frontend>
		<backend>
			<compatible>
				<plugin>comment</plugin>
				<plugin>attachments</plugin>
			</compatible>
			<after>
				<editNews>
					<description>Edycja news-a</description>
					<plugins>
						<comment>
							<settings>
								<segment_ref>3</segment_ref>
								<component>news</component>
							</settings>
							<actions>
								<action>deleteAllRecordComments</action>
								<action>empty</action>
							</actions>
						</comment>
						<attachments>
							<settings>
								<segment_ref>3</segment_ref>
								<component>news</component>
								<attachmentsDir>upload/attachments/news/</attachmentsDir>
							</settings>
							<actions>
								<action>deleteAttachmentFile</action>
								<action>empty</action>
							</actions>
						</attachments>
					</plugins>
				</editNews>
				<addNews>
					<description>Dodawanie news-a</description>
					<plugins>
						<attachments>
							<settings>
								<segment_ref>3</segment_ref>
								<component>news</component>
								<table_last_insert_id>news</table_last_insert_id>
								<addNewsFormId>newsAddForm</addNewsFormId>
								<addNewsFormSumbitId>addNewsFormSubmitId</addNewsFormSumbitId>
								<attachmentsDir>upload/attachments/news/</attachmentsDir>
								<flashErrors>validationErrors</flashErrors>
							</settings>
							<actions>
								<action>attachmentsAdd</action>
								<action>empty</action>
							</actions>
						</attachments>
					</plugins>
				</addNews>
			</after>
		</backend>
	</plugins_settings>
</config>